<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table align="center" border="1" cellpadding="0" cellspacing="0" max-width="600" style="border-collapse: collapse;">
    <tr>
      <td align="center" bgcolor="#ffffff" style="padding: 10px 0 10px 0; color: #004080;">
          <img src="http://localhost:8080/dist/img/icons/logo-310.png" alt="logo" width="150" height="115" style="display: block;" />
          <h4 style="margin-top: -50px; padding-top: 35px;">Qaado Carpooling</h4>
      </td>
    </tr>
    <tr>
      <!-- MESSAGE BODY -->
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;" width="100%">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
              <!-- TITLE SECTION -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr width="100%">
                  <td width="70%">{{.Title}}</td>
                  <td width="30%">
                    <ul style="list-style-type: none">
                      <li style="display: inline-block; padding: 0;">
                        <a href="#">
                          <img src="http://localhost:8080/dist/img/social-icons/PNG/Circle Color/Facebook.png" alt="facebook" height="35px" width="35px">
                        </a>
                      </li>
                      <li style="display: inline-block;">
                        <a href="#">
                            <img src="http://localhost:8080/dist/img/social-icons/PNG/Circle Color/Twitter.png" alt="Twitter" height="35px" width="35px">
                        </a>
                      </li>
                      <li style="display: inline-block;">
                        <a href="#">
                            <img src="http://localhost:8080/dist/img/social-icons/PNG/Circle Color/YouTube.png" alt="YouTube" height="35px" width="35px">
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <!-- TITLE SECTION ENDS -->
              </td>
            </tr>
            <tr>
              <!-- DESCRIPTION SECTION -->
              <td style="padding: 20px 0 30px 0;">
              {{.Message}}
              </td>
              <!-- DESCRIPTION SECTION ENDS -->
            </tr>
            <tr>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <!-- RIGHT COLUMN SECTION -->
                  <td width="260" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      {{range $item := .DataList}}
                      <tr>
                        <td> <!-- Sender/Receiver: Person name -->
                          {{$item.Name}}: <strong>{{$item.Value}}</strong>
                        </td>
                      </tr>
                      {{end}}
                      {{if .DataList }}
                      <hr>
                      {{end}}
                      <tr>
                        <td>{{.Description}}</td>
                      </tr>
                    </table>
                  </td>
                  <td style="font-size: 0; line-height: 0;" width="20">
                  &nbsp;
                  </td>
                  <!-- LEFT COLUMN SECTION -->
                  <td width="260" align="center" valign="top" style="padding: 10px 15px 10px 15px;">
                  {{.Amount}}
                  </td>
                </tr>
              </table>
            </tr>
          </table>
      </td>
      <!-- MESSAGE BODY ENDS HERE-->
     </tr>
     <tr>
      <td bgcolor="#000080" style="color: #ffffff;">

        <!-- Row 3 -->

      </td>
     </tr>
   </table>
 </body>
</html>